<form method="post" action="{{ path('nstest2_delete', {'id': nstest2.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nstest2.id) }}">
    <button class="btn">Delete</button>
</form>
