{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
        {% if form.fname is defined %}{{ form_row(form.fname) }}{% endif %}
        {% if form.lname is defined %}{{ form_row(form.lname) }}{% endif %}
        {% if form.email is defined %}{{ form_row(form.email) }}{% endif %}
	    {% if form.country is defined %}{{ form_row(form.country) }}{% endif %}
{{ form_end(form) }}
