{% extends 'base.html.twig' %}

{% block title %}Edit Nstest2{% endblock %}

{% block body %}
    <h1>Edit Nstest2</h1>

    {{ include('nstest2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('nstest2_index') }}">back to list</a>

    {{ include('nstest2/_delete_form.html.twig') }}
{% endblock %}
