{# APPLY THEIR FRONTEND FORM OVER WEEKDAYS #}

{% extends 'base.html.twig' %}

{% block title %}Nstest2 index{% endblock %}

{% block body %}
    <h1>Nstest2 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
        {% for nstest2 in nstest2s %}
            <tr>
                <td>{{ nstest2.id }}</td>
                <td>{{ nstest2.fname }}</td>
                <td>{{ nstest2.lname }}</td>
                <td>{{ nstest2.email }}</td>
                <td>{{ nstest2.country }}</td>
                <td>
                    <a href="{{ path('nstest2_show', {'id': nstest2.id}) }}">show</a>
                    <a href="{{ path('nstest2_edit', {'id': nstest2.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nstest2_new') }}">Create new</a>
{% endblock %}
