{% extends 'base.html.twig' %}

{% block title %}New Nstest2{% endblock %}

{% block body %}
    <h1>Create new Nstest2</h1>

    {{ include('nstest2/_form.html.twig') }}

    <a href="{{ path('nstest2_index') }}">back to list</a>
{% endblock %}
