{% extends 'base.html.twig' %}

{% block title %}Nstest2{% endblock %}

{% block body %}
    <h1>Nstest2</h1>

    <table class="table">
        <tbody>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>{{ nstest2.id }}</td>
                <td>{{ nstest2.fname }}</td>
                <td>{{ nstest2.lname }}</td>
                <td>{{ nstest2.email }}</td>
                <td>{{ nstest2.country }}</td>
            </tr>
        </thead>
        </tbody>
    </table>

    <a href="{{ path('nstest2_index') }}">back to list</a>

    <a href="{{ path('nstest2_edit', {'id': nstest2.id}) }}">edit</a>

    {{ include('nstest2/_delete_form.html.twig') }}
{% endblock %}
